.allmain {
  background: linear-gradient(-45deg, #eb9f88, #de87a9, #9dd4e8, #92ebd6);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spinner-border {
  position: absolute;
  right: 10px;
  top: 15px;
}
.disable {
  display: none;
}
.form-control.simple.ng-touched.ng-valid {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-family: "Secular One", sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}
.text {
  text-align: center;
  margin-top: 10px;
}
form {
  width: 100vw;
  max-width: 500px;
}
#loginButton,
#signupButton {
  margin-top: 15px;
  width: 100%;
  background-color: #59857a;
  border: none;
}
#loginButton:hover {
  background-color: #95d3c4;
  color: black;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  color: black;
}
